<form role="form">
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6">
			<div class="form-group">
                <input type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="Nome">
			</div>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6">
			<div class="form-group">
				<input type="text" name="last_name" id="last_name" class="form-control input-lg" placeholder="Cognome">
			</div>
		</div>
	</div>
	<div class="form-group">
		<input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email">
	</div>
	<div class="form-group">
		<input type="text" name="argomento" id="argomento" class="form-control input-lg" placeholder="Titolo Intervento">
	</div>

    <div class="form-group">
        <textarea class="form-control input-lg" rows="5" id="abstract" placeholder="Riassunto"></textarea>
    </div>

	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6">
			<div class="form-group">
				<select id="tipo-talk" class="form-control input-lg">
				    <option hidden>-- Tipo Intervento --</option>
				    <option value="talk">Talk</option>
				    <option value="tutorial">Tutorial</option>
				    <option value="workshop">Workshop</option>
				</select>
			</div>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6">
			<div class="form-group">
				<input type="text" name="durata" id="durata" class="form-control input-lg" placeholder="Durata Prevista">
			</div>
		</div>
	</div>
	<div class="form-group">
		<p>Allega un file</p>
		<label class="btn btn-primary">
			Browse&hellip; <input type="file" style="display: none;">
		</label>
	</div>

	<hr>
	<div class="form-group"><button class="btn btn-success btn-block btn-lg">Invia</button></div>

</form>
