<form role="form" name="callforpapers-form" method="post" action="/callforpapers">
    {{ form.csrf_token }}
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6">
			<div class="form-group">
                {{ form.nome }}
			</div>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6">
			<div class="form-group">
				{{ form.cognome }}
			</div>
		</div>
	</div>
	<div class="form-group">
		{{ form.email }}
	</div>
	<div class="form-group">
		{{ form.argomento }}
	</div>

    <div class="form-group">
        {{ form.abstract }}
    </div>

	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6">
			<div class="form-group">
				{{ form.type_of_talk }}
			</div>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6">
			<div class="form-group">
				{{ form.durata }}
			</div>
		</div>
	</div>
	<div class="form-group">
		<p>Allega un file</p>
		<label class="btn btn-primary">
			Browse&hellip; <input type="file" name="file" style="display: none;">
		</label>
	</div>

	<div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <div class="g-recaptcha" data-sitekey="{{ key }}"></div>
        </div>
    </div>

	<hr>
	<div class="form-group"><button type="submit" class="btn btn-success btn-block btn-lg"><i class="fa fa-paper-plane" aria-hidden="true"></i> Invia</button></div>

</form>
