<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PYRE - Python Reggio Emilia User Group</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/ionicons.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <!-- Toastr -->
    <link href="/static/css/toastr.min.css" rel="stylesheet">


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
  <!--Menu-->
  {% include "main/menu.html" %}
    <div id="call">
      <div class="container transparent">
        <div class="row centered">
          <div class="col-md-8 col-md-offset-2">
            <h1><b>VIENI A DIRE LA TUA!</b></h1>
            <h2>Diventa Speaker del PyRE</h2>
          </div><!--/col-md-8-->
        </div>
      </div>
    </div><!--/sep-->
    <div class="container ptb">
      <div class="row">
        <div class="col-md-12 centered">

        <h2>Compila il seguente form per proporci il tuo <b>Talk</b></h2>
            <h4>Ti contatteremo per i dettagli appena possibile!</h4>

        {% include "forms/callforpapers.html" %}
            </div>
      </div><!--/row-->
    </div><!--/container-->


    <!--Footer-->
    {% include "main/footer.html" %}
    <!--/.Footer-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/retina-1.1.0.js"></script>
    <!--Toastr-->
    <script type="text/javascript" src="/static/js/toastr.min.js"></script>
    <script type="text/javascript" src="/static/js/main/common.js" defer></script>
  </body>
</html>
