<div id="f">
  <div class="container">
    <div class="row centered">
      <h2>AIUTACI A FARCI CONOSCERE</h2>
      <h4>Se vuoi, condividi il nostro sito sui tuoi account social!</h4>
      <p class="mt">
        <a href="https://twitter.com/home?status=www.pyre.it" target="_blank"><i class="ion-social-twitter"></i></a>
        <a href="https://www.facebook.com/sharer/sharer.php?u=www.pyre.it" target="_blank"><i class="ion-social-facebook"></i></a>
        <a href="https://www.linkedin.com/shareArticle?mini=true&url=www.pyre.it&title=&summary=&source=" target="_blank"><i class="ion-social-linkedin"></i></a>
        <a href="https://plus.google.com/share?url=www.pyre.it" target="_blank"><i class="ion-social-googleplus"></i></a>
      </p>
      <h6 class="mt">&copy; PyRE 2016<script>new Date().getFullYear()>2016&&document.write("-"+new Date().getFullYear());</script>, Tutti i diritti riservati</h6>
    </div><!--/row-->
  </div><!--/container-->
</div><!--/F-->
