<footer class="page-footer center-on-small-only">

    <!--Footer Links-->
    <div class="container-fluid">
        <div class="row">

            <!--First column-->
            <div class="col-md-3 offset-md-1">
                <h5 class="title">PyRE - Python Reggio Emilia</h5>

                <p>Siamo un gruppo di pythonisti di Reggio Emilia e dintorni a cui piace incontrarsi per condividere
                idee e imparare nuovi trick con il nostro linguaggio di programmazione preferito. </p>
                <p>Vuoi rimanere aggiornato sulle nostre attività?</p>
                <button type="button" class="btn btn-elegant btn-news-register"><i class="fa fa-facebook left"></i> Iscriviti alla Newsletter</button>
            </div>
            <!--/.First column-->

            <hr class="hidden-md-up">

            <!--Second column-->
            <div class="col-md-2 offset-md-1">
                <h5 class="title">Contatti</h5>
                <ul>
                    <li><a href="#!">Link 1</a></li>
                    <li><a href="#!">Link 2</a></li>
                    <li><a href="#!">Link 3</a></li>
                    <li><a href="#!">Link 4</a></li>
                </ul>
            </div>
            <!--/.Second column-->

            <hr class="hidden-md-up">

            <!--Third column-->
            <div class="col-md-2">
                <h5 class="title">Partner</h5>
                <ul>
                    <li><a href="#!">Link 1</a></li>
                    <li><a href="#!">Link 2</a></li>
                    <li><a href="#!">Link 3</a></li>
                    <li><a href="#!">Link 4</a></li>
                </ul>
            </div>
            <!--/.Third column-->

            <hr class="hidden-md-up">

            <!--Fourth column-->
            <div class="col-md-2">
                <h5 class="title">Link Utili</h5>
                <ul>
                    <li><a href="#!">Link 1</a></li>
                    <li><a href="#!">Link 2</a></li>
                    <li><a href="#!">Link 3</a></li>
                    <li><a href="#!">Link 4</a></li>
                </ul>
            </div>
            <!--/.Fourth column-->

        </div>
    </div>
    <!--/.Footer Links-->

    <hr>

    <!--Call to action-->
    <div class="call-to-action">
        <h4>Spammaci sui Social!</h4>
        <ul>
            <li><button type="button" class="btn btn-fb btn-fb-share"><i class="fa fa-facebook left"></i> Facebook</button></li>
            <li><button type="button" class="btn btn-tw btn-tw-share"><i class="fa fa-twitter left"></i> Twitter</button></li>
            <li><button type="button" class="btn btn-gplus btn-gplus-share"><i class="fa fa-google-plus left"></i> Google+</button></li>
            <li><button type="button" class="btn btn-li btn-li-share"><i class="fa fa-linkedin left"></i> Linkedin</button></li>
        </ul>
    </div>
    <!--/.Call to action-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2016 Copyright: <a href="#"> PyRE - Python Reggio Emilia User Group</a>

        </div>
    </div>
    <!--/.Copyright-->

</footer>