<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="python, usergroup, reggioemilia, reggio, programming, development, dev, coding">
    <meta name="description" content="Il sito ufficiale del Python Reggio Emilia User Group">

    <title>PYRE - Python Reggio Emilia User Group</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/ionicons.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <!-- Toastr -->
    <link href="/static/css/toastr.min.css" rel="stylesheet">


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
  <!--Menu-->
  {% include "main/menu.html" %}
    <div id="h">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 centered">
            <h1>Python REGGIO EMILIA</h1>
            <h2>Il primo <b>Python User Group</b><br>della Food Valley</h2>
            <a href="mailto:info@pyre.it" target="_blank"><button class='btn btn-conf-2 btn-orange'><i class="fa fa-envelope fa-2x" aria-hidden="true"></i> info@pyre.it</button></a>
          </div>
        </div><!--/row-->
      </div><!--/container-->
    </div><!-- /H -->

    <div class="container ptb">
      <div class="row">

          <div class="col-md-6">
              <h2><i class="fa fa-user" aria-hidden="true"></i> Chi Siamo</h2>
              <p class="mt">Il PyRE è un gruppo di persone che utilizza attivamente il linguaggio di programmazione <b><a href="https://www.python.org/" target="_blank">Python</a></b>.<br>
                  Ideato da <b><a href="https://it.wikipedia.org/wiki/Guido_van_Rossum" target="_blank">Guido van Rossum</a></b> all'inizio degli anni novanta, è oggi un linguaggio maturo usato per sviluppare applicazioni distribuite,
                  scripting, computazione numerica e siti web.<br>
                  Organizziamo incontri periodici per <b>imparare</b> nuove tecniche di programmazione, <b>studiare</b> casi d'uso in ambito aziendale,
                  <b>divertirci</b> con workshop di gruppo, <b>sperimentare</b> l'uso di Python in ambiti diversi (robotica, istruzione, salute, machine learning, big data, Internet of Things, ecc.)
              </p>
            </div>
            <div class="col-md-6">
              <img src="/static/img/main/python-logo.png" class="img-responsive mt" alt="">
            </div>
        </div>

      </div><!--/row-->
    </div><!--/container-->

    <div id="sep">
      <div class="container">
        <div class="row centered">
          <div class="col-md-8 col-md-offset-2">
            <h1>Vieni a trovarci!</h1>
            <h4>Sei un programmatore Python o un semplice curioso desideroso di conoscere cosa si può fare con questo linguaggio?</h4>
            <p><a href="/contatti"><button class="btn btn-conf-2 btn-orange"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i> Contattaci</button></p></a>
          </div><!--/col-md-8-->
        </div>
      </div>
    </div><!--/sep-->

    <div id="orange">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 centered">
            <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="12000">
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <h3>Python è abbastanza veloce per il nostro sito, ci permette di sviluppare soluzioni facilmente mantenibili, in tempi record, e con un numero ridotto di sviluppatori.</h3>
                  <h5><tgr>CUONG DO, Software Architect, YouTube.com</tgr></h5>
                </div>
                <div class="item">
                  <h3>Python è stato una parte importante di Google fin dagli esordi, e rimane tale mentre il sistema cresce e si evolve. Oggi dozzine di ingegneri Google usano Python, e siamo alla ricerca di sempre più persone con competenze in questo linguaggio.</h3>
                  <h5><tgr>PETER NORVIG, director of search quality at Google, Inc</tgr></h5>
                </div>
                <div class="item">
                  <h3>Python ci ha permesso di creare EVE Online, un enorme gioco multiplayer, a tempo di record. Grazie alla sua flessibilità è stato possibile migliorare rapidamente l'esperienza di gioco in base ai feedback dei giocatori</h3>
                  <h5><tgr>HILMAR VEIGAR PETURSSON, CCP Games</tgr></h5>
                </div>
              </div>
            </div><!--/Carousel-->

          </div>
        </div><!--/row-->
      </div><!--/container-->
    </div><!--/orange-->

    <div id="g">
      <div class="container">
        <div class="row sponsor centered">
            <h3>Questo sito web è stato sviluppato col <i class="fa fa-heart" aria-hidden="true"></i> usando:</h3>
          <div class="col-md-2 col-md-offset-1">
            <a href="https://www.python.org/" target="_blank"><img src="/static/img/main/tek1.png" alt=""></a>
          </div>
          <div class="col-md-2">
            <a href="http://getbootstrap.com/" target="_blank"><img src="/static/img/main/tek2.png" alt=""></a>
          </div>
          <div class="col-md-2">
            <a href="https://www.mongodb.com" target="_blank"><img src="/static/img/main/tek3.png" alt=""></a>
          </div>
          <div class="col-md-2">
            <a href="http://flask.pocoo.org/" target="_blank"><img src="/static/img/main/tek5.png" alt=""></a>
          </div>
          <div class="col-md-2">
            <a href="https://www.openshift.com/" target="_blank"><img src="/static/img/main/tek4.png" alt=""></a>
          </div>
        </div><!--/row-->
      </div>
    </div><!--/g-->

    <div id="g" style="background-color: #fff">
      <div class="container">
        <div class="row sponsor centered">
            <h3>Un GRAZIE <span><b>∞</b></span> ai nostri sponsor!</h3>
          <div class="col-md-2">
                <a href="http://www.jetbrains.com/" target="_blank"><img src="/static/img/sponsor/jetbrains.svg" alt=""></a>
              </div>
              <div class="col-md-2">
                <a href="https://www.packtpub.com/tech/python" target="_blank"><img src="/static/img/sponsor/packt.png" alt=""></a>
              </div>
              <div class="col-md-2">
                <a href="http://www.energee3.com/" target="_blank"><img src="/static/img/sponsor/energee3.png" alt=""></a>
              </div>
              <div class="col-md-2">
                <a href="https://www.stickermule.com/it/" target="_blank"><img src="/static/img/sponsor/stickermule.png" alt=""></a>
              </div>
              <div class="col-md-2">
                <a href="http://www.unixstickers.com/" target="_blank"><img src="/static/img/sponsor/unixstickers.png" alt=""></a>
              </div>
              <div class="col-md-2">
                <a href="http://www.oreilly.com/pub/cpc/55024" target="_blank"><img src="http://www.oreilly.com/partner_file/ORM_logo_box75_hex.jpg" /></a>
              </div>
        </div><!--/row-->
      </div>
    </div><!--/g-->

    <!--Footer-->
    {% include "main/footer.html" %}
    <!--/.Footer-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/retina-1.1.0.js"></script>
    <!--Toastr-->
    <script type="text/javascript" src="/static/js/toastr.min.js"></script>
    <!-- index js (buttons, etc.) -->
    <script type="text/javascript">
        window.cookieconsent_options = {"message":"Questo sito utilizza cookie di prime e terze parti per offrire un’esperienza di navigazione ottimale e servizi in linea con le tue preferenze. Chiudendo questa informativa e continuando la tua navigazione acconsenti all’uso dei cookie attualmente abilitati.","dismiss":"Accetto","learnMore":"Informativa","link":null,"theme":"dark-bottom"};
    </script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.10/cookieconsent.min.js"></script>

    <script type="text/javascript" src="/static/js/main/index.js" defer></script>
    <script type="text/javascript" src="/static/js/main/common.js" defer></script>
  </body>
</html>
