.btn-fb {
    background-color: #3B5998;
}

.btn-tw {
    background-color: #55ACEE;
}

.btn-gplus {
    background-color: #DD4B39;
}

.btn-li {
    background-color: #0082CA;
}

.btn-ins {
    background-color: #3F729B;
}

.btn-yt {
    background-color: #CD201F;
}

.btn-git {
    background-color: #4183C4;
}
