<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header text-xs-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3><i class="fa fa-user"></i> Accedi a PyRE</h3>
            </div>

            <!--Body-->
            <div class="modal-body">
                <div class="md-form">
                    <i class="fa fa-envelope prefix"></i>
                    <input type="text" id="form2" class="form-control">
                    <label for="form2">Email</label>
                </div>

                <div class="md-form">
                    <i class="fa fa-lock prefix"></i>
                    <input type="password" id="form3" class="form-control">
                    <label for="form3">Password</label>
                </div>
                <div class="text-xs-center">
                    <button class="btn btn-primary btn-lg"><i class="fa fa-sign-in left"></i> Login</button>
                </div>
            </div>

            <!--Footer-->
            <div class="modal-footer">
                <div class="container text-xs-center">
                    <p>Prima volta? <button type="button" class="btn btn-default" data-dismiss="modal">Registrati</button></p>
                    <p><a href="#">Password</a> dimenticata?</p>
                </div>
                <div class="container text-xs-center">
                    <h4>Oppure, accedi con:</h4>
                    <button type="button" class="btn btn-fb" data-dismiss="modal"><i class="fa fa-facebook left"></i> Facebook</button>
                    <button type="button" class="btn btn-gplus" data-dismiss="modal"><i class="fa fa-google left"></i> Google</button>
                </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- /.Live preview-->